.main-layout {
  height: 100vh;
}

.content-layout {
  height: 100%;
  width: 100%;
}

.modal-footer {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.modal-footer .cancel-btn {
  margin-right: 10px;
}

.edit-btn {
  margin-right: 10px;
}

.add-to-list-btn {
  margin-right: 15px;
}

.site-layout {
  padding: 15px;
}

.player-list {
  padding: 20px 0px;
}

.form-field {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.form-icon {
  margin-left: 10px;
}

.field-container {
  margin: 10px 0;
  width: 50%;
}

.ant-layout > .ant-layout-header {
  border-bottom: #ff7f00 solid 10px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #333;
}

.ant-menu-overflow {
  height: 54px;
}

/* .ant-layout > .ant-layout-header > .ant-menu {
  background-color: #333;
  color: white;
}

.ant-layout > .ant-layout-sider,
.ant-layout > .ant-layout-sider > .ant-layout-sider-trigger,
.ant-layout-sider > .ant-layout-sider-children {
  background-color: #333;
  color: white;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:first-of-type:hover {
  background: none;
}

*/

.logo-image {
  height: 60px;
  margin: 0;
}

.uploadButton {
  margin-top: 15px;
}
